@model List<SurveyForm.ViewModels.TemplateViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="text" id="searchBox" placeholder="Search templates..." />
</div>
<div id="results">
    <partial name="_LatestTemplate" model="Model" />
</div>

@section Scripts {
    <script>
                
    </script>
}