@font-face {
    font-family: 'kingslanding';
    src: url('../fonts/kingslanding.otf') format('opentype');
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

input[type="number"].no-spinners::-webkit-inner-spin-button,
input[type="number"].no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].no-spinners {
    -moz-appearance: textfield;
}

.toggle-password {
    cursor: pointer;
}

.color-gray {
    color: #b6b6b6;
}

.disabled-row td:not(:first-child) {
    color: #6c757d;
    pointer-events: none;
    opacity: 0.6;
}

.disabled-row td input {
    pointer-events: auto;
}

.ql-toolbar.ql-snow {
    margin-top: 10px;
    border-radius: 5px;
}

.form-control:focus {
    box-shadow: none;
}

.ql-toolbar.ql-snow {
    border-color: #ededed;
}

.advance-options .tagify__tag {
    --tag-hover: var(--tag-bg);
}







.upload {
    position: relative;
    display: block;
    border: 1px solid black;
    background-color: #ecedee;
    padding: 3em;
    margin: 1em auto;
    border-radius: 4px;
}

    .upload label {
        border-bottom: 1px solid #ccc;
        padding: 1em;
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
    }

    .upload:hover {
        background-color: #86b7fe;
    }

    .upload input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 0;
    }

#names li {
    margin: 1em;
}

.dropzone .dz-preview {
    margin: 0;
    height: 148px;
}

    .dropzone .dz-preview .dz-image {
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .dropzone .dz-preview .dz-image img {
        width: 100%;
        height: auto;
    }

    .dropzone .dz-preview .dz-remove {
        position: relative;
        top: -199px;
        left: 28px;
        background: #d10000;
        padding: 5px;
        border-radius: 5px;
        color: #FFF;
        text-decoration: none;
        display: flex;
        width: 70px;
        justify-content: center;
    }


/* ---------------- Tagify - Template Specified User --------------- */
.customSuggestionsList > div {
    max-height: 300px;
    min-height: 50px;
    border: 2px solid pink;
    overflow: auto;
}

.customSuggestionsList .empty {
    color: #999;
    font-size: 20px;
    text-align: center;
    padding: 1em;
}




.author {
    font-family: kingslanding;
    color: #828282;
    font-size: 25px;
    font-weight: bold;
}




























@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

    .img-showcase img {
        min-width: 100%;
    }

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #12263a;
    }

.template-publish {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.purchase-info {
    margin: 1.5rem 0;
}

@media screen and (min-width: 992px) {
    .template-setup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}